.navbar {
  background-color: #212529;
}

/* Logo */
.navbar-brand img {
  max-height: 100px;
}

/* Links generales */
.nav-link {
  color: #fff !important;
  text-decoration: none;
}

.nav-link.active {
  font-weight: bold;
  text-decoration: none;
}

/* Carrito */
.nav-cart,
.nav-cart.active {
  text-decoration: none;
  color: inherit;
}

/* Hover opcional */
.nav-link:hover {
  color: #ddd;
}